* {
    margin: 0;
}

body {
    scroll-behavior: smooth;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
    height: 40px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

.cabecalho a {
    color: brown;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
}

main h1 {
    text-align: center;
}

.sobre {
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}

.sobreMim {
    margin-top: 150px;
    margin-left: 150px;
    margin-bottom: 150px;
    width: 300px;
}

.imagemPerfil {
    height: 300px;
    width: 300px;
    margin-top: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
    border-radius: 50%;
}

.projetos {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: antiquewhite;
}

.projetos a {
    display: flex;
    justify-content: center;
}

.projetoImagem {
    width: 300px;

}

.rodape {
    display: flex;
    justify-content: space-between;
}